/*  Album */

:root {
  --btn-height: 40px;
  --overlay-padding: 15px;
  --overlay-width: 100%;
}

@media ( min-width: 960px) {
  :root {
    --btn-height: 60px;
    --overlay-padding: 30px;
    --overlay-width: 50%;
  }
}

.album-nav__toggle {
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-size: var(--f-size-big);
  display: block;
  font-weight: 400;
  height: var(--btn-height);
  padding: 10px 25px ;
  position: relative;
}

.album-nav__toggle:focus,
.album-nav__toggle:hover {
  background-color: white;
}

.album-nav__curtain {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.js-album-nav-shown .album-nav__curtain {
  pointer-events: all;
}

.album-nav__content {
  background: var(--c-bg);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
  height: 100vh;
  opacity: 0;
  overflow: auto;
  padding: var(--overlay-padding);
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(50vw);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: var(--overlay-width);
  z-index: 3;
}


.album-nav__close {
  appearance: none;
  background-color: transparent;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.12);
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  height: 35px;
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 6;
  width: 35px;
}

.album-nav__close::before,
.album-nav__close::after {
  background-color:  black;
  content: '';
  display: block;
  height: 1px;
  left: 5px;
  position: absolute;
  top: 15px;
  width: 20px;
}

.album-nav__close::before {
  transform: rotate(45deg);
}

.album-nav__close::after {
  transform: rotate(-45deg);
}


.js-album-nav-shown .album-nav__content {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.album-nav__list {
  font-size: var(--f-size-medium);
  list-style: none;
  margin: 0;
  padding: 40px 20px;
}

.album-nav__item {
  display: block;
  margin: 0;
  padding: 0;
}

.album-nav__link {
  color: black;
  display: block;
  font-size: var(--f-size-big);
  font-weight: 400;
  padding: 3px 0;
  position: relative;
}

.album-nav__item--current .album-nav__link {
  position: relative;
}

.album-nav__item--current .album-nav__link::before {
  background-color: black;
  border-radius: 50%;
  content: '';
  display: block;
  height: 6px;
  left: -1em;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 6px;
}

.album-nav__link:hover {
  color: var(--c-gray);
}
@media (min-width: 960px) {
  .album-nav__item--current .album-nav__link::before {
    height: 8px;
    left: -0.875em;
    margin-top: -5px;
    width: 8px;
  }
}
