:root {
  --c-bg: #fff;
  --c-base-text-color: #000;
  --c-base-link-color: blue;
  --c-gray: #cfcfcf;
  --c-border: rgba(0, 0, 0, 0.2);
  --f-base: 16px / 1.375 Arial, sans-serif;
  --f-size-big: clamp(1.25rem, 2vw, 1.8rem);
  --f-size-medium: clamp(1rem, 2vw, 1.375rem);
  --sidebar-width: 350px;
  --site-padding: 5px;
  --site-max: 1200px;
}

@media ( min-width: 400px) {
  :root {
    --site-padding: 20px;
  }
}

@media ( min-width: 960px) {
  :root {
    --site-padding: 30px;
  }
}

html {
  scroll-padding: var(--site-padding);
}

body, body * {
    box-sizing: border-box;
}

body {
  background-color: var(--c-bg);
  color: var(--c-base-text-color);
  font: var(--f-base);
  margin: 0;
  padding: 0;
}

a,
a:link {
  color: var(--c-base-text-color);
  text-decoration: none;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
}

img,
video {
    max-width: 100%;
    display: block;
}


.presize {
  background: rgba(0,0,0,0.05);
  position: relative;
}

.presize *:first-child {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
}

td {
  padding: 15px 15px;
  background: rgba(255,255,255, .1);
}

.page-header {
  padding: 20px var(--site-padding) 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.page-header___site-name {
  font-size: var(--f-size-big);
  font-weight: 400;
}

.page-header___site-name-link {
  display: inline-block;
}

@media ( min-width: 960px) {
  .page-content {
    margin: 0 auto;
    max-width: var(--site-max);
  }

  .page-header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
  }
}

.site-footer {
  margin: 0 auto;
  max-width: var(--site-max);
  padding: var(--site-padding);
}

.site-credit {
  color: var(--c-gray);
}

.site-credit a {
  border-bottom: 1px solid var(--c-gray);
  color: var(--c-gray);
}
