:root {
  --c-bg: #fff;
  --c-base-text-color: #000;
  --c-base-link-color: blue;
  --c-light-white: rgba(255, 255, 255, 0.2);
  --f-base: 16px / 1.5 Arial, sans-serif;
  --f-size-big: clamp(1.25rem, 2vw, 1.8rem);
  --f-size-medium: clamp(1rem, 2vw, 1.5rem);
  --sidebar-width: 350px;
  --site-padding: 5px;
}

@media ( min-width: 400px) {
  :root {
    --site-padding: 20px;
  }
}

@media ( min-width: 960px) {
  :root {
    --site-padding: 30px;
  }
}

html {
  scroll-padding: var(--site-padding);
}

body, body * {
    box-sizing: border-box;
}

body {
  background-color: var(--c-bg);
  color: var(--c-base-text-color);
  font: var(--f-base);
  margin: 0;
  padding: 0;

}

a {
  color: var(--c-base-link-color);
  text-decoration: none;
}

.btn {
  border: 1px solid white;
  border-radius: 17px;
  display: inline-block;
  font: 13px / 1 arial;
  height: 34px;
  padding: 10px 14px;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
}

img,
video {
    max-width: 100%;
    display: block;
}


.presize {
  background: rgba(0,0,0,0.2);
  position: relative;
}

.presize *:first-child {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
}

td {
  padding: 15px 15px;
  background: rgba(255,255,255, .1);
}
