:root {
  --c-bg: #071827;
  --c-base-text-color: #fff;
  --c-light-white: rgba(255, 255, 255, 0.2);
  --sidebar-width: 350px;
  --site-padding: 30px;
}

html {
  scroll-padding: var(--site-padding);
}

body, body * {
    box-sizing: border-box;
}

body {
  background-color: var(--c-bg);
  color: var(--c-base-text-color);
  font: 16px / 1 georgia;
  margin: 0;
  padding: 0;

}

a {
  color: white;
  text-decoration: none;
}

.btn {
  border: 1px solid white;
  border-radius: 17px;
  display: inline-block;
  font: 13px / 1 arial;
  height: 34px;
  padding: 10px 14px;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
}

img,
video {
    max-width: 100%;
    display: block;
}


.presize {
  background: rgba(0,0,0,0.2);
  position: relative;
}

.presize *:first-child {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
