/*  Album */

.view-album {
  position: relative;
}

.page-content {
  padding: 0 var(--site-padding);
}

.view-album__item {
  margin-bottom: var(--site-padding);
}

.view-album__item--text {
  padding: 0 var(--site-padding);
}

.view-album__asset-link {
  display: block;
}

.view-album__asset {
  justify-content: center;
  max-width: 100%;
}

.view-album__section-heading {
  padding: 10px 0 5px;
}

.title-card__head {
  font-size: var(--f-size-medium);
}

.title-card__contents {
  font-size: var(--f-size-medium);
  opacity: 0.5;
}

.view-album__img,
.view-album__video {
  display: block;
  max-width: 100%;
}

/* Media queries */

@media ( min-width: 960px) {

  .view-album__section-heading {
    top: 0;
    z-index: 2;
  }

  .view-album__section-heading {
    padding-top: 50px;
  }

  .view-album__grid:first-child,
  .view-album__section-heading:first-child {
    padding-top: 100px;
  }

  .view-album__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--site-padding);
  }

  .view-album__grid > *:first-child:last-child {
    grid-column: 1 / 3;
  }
}


