/*  Album */

.view-album {
  position: relative;
}

.view-album__header {
  padding: 20px var(--site-padding) 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.view-album___site-name {
  font-size: var(--f-size-big);
  font-weight: 400;
}

.view-album__dropdown {
  border: 1.5px solid #000;
  border-radius: 25px;
  font-weight: 400;
  max-height: 50px;
  overflow: hidden;
  padding: 5px 20px;
  position: relative;
  transition: max-height 0.5s ease;
}

.view-album__dropdown:hover {
  background-color: var(--c-bg);
  overflow: auto;
  max-height: none;
}

/* arrow */
.view-album__dropdown::after {
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  right: 20px;
  top: 14px;
  transform: rotate(45deg);
  width: 10px;
}


.view-album__dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0 20px 0 0 ;
  transition: transform 0.5s ease;
}

.view-album__dropdown-list--current-1 {
  transform: translateY(calc(1 * -50px));
}

.view-album__dropdown-list--current-2 {
  transform: translateY(calc(2 * -50px));
}

.view-album__dropdown-list--current-3 {
  transform: translateY(calc(3 * -50px));
}

.view-album__dropdown-list--current-4 {
  transform: translateY(calc(4 * -50px));
}

.view-album__dropdown-list--current-5 {
  transform: translateY(calc(5 * -50px));
}

.view-album__dropdown-list--current-6{
  transform: translateY(calc(6 * -50px));
}

.view-album__dropdown-list--current-7 {
  transform: translateY(calc(7 * -50px));
}

.view-album__dropdown-list--current-8 {
  transform: translateY(calc(8 * -50px));
}

.view-album__dropdown-list--current-9 {
  transform: translateY(calc(9 * -50px));
}

.view-album__dropdown-list--current-10 {
  transform: translateY(calc(10 * -50px));
}

.view-album__dropdown:hover .view-album__dropdown-list {
  transform: translateY(0) !important;
}

.view-album__dropdown:hover .view-album__dropdown-item:not(.view-album__dropdown-item--current) .view-album__dropdown-link{
  color: gray;
}

.view-album__dropdown-item {
  display: block;
  height: 50px;
}

.view-album__dropdown-link {
  color: black;
  display: block;
  font-size: var(--f-size-big);
  font-weight: 400;
  position: relative;
}

.view-album__dropdown-link:hover {
  color: black !important;
}


.view-album__content {
  padding: 0 var(--site-padding) 200px;
}

.view-album__title {
  font: 400 56px / 1 arial;
  margin: 0 0 10px;
  font-size: clamp(1.25rem, 1rem+2vw, 1.5rem);
}

.view-album__date {
  font: 400 21px /1.5 arial;
  margin: 0 0 30px;
  opacity: 0.4;
}


.view-album__item {
  margin-bottom: var(--site-padding);
}

.view-album__item--text {
  padding: 0 var(--site-padding);
}

.view-album__asset-link {
  display: block;
}

.view-album__asset {
  justify-content: center;
  max-width: 100%;
}

.view-album__section-heading {
  padding: 10px 0 0;
}

.title-card__head {
  font: 21px/ 1.375 arial;
  margin-bottom: 15px;;
}

.title-card__contents {
  font: 15px / 1.5 arial;
  opacity: 0.5;
}

.view-album__img,
.view-album__video {
  display: block;
  max-width: 100%;
}



/* Media queries */

@media ( min-width: 960px) {

  .view-album__content {
    padding-bottom: 200px;
    width: 80%;
    margin: 0 auto;
  }

  .view-album__header {
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: 3;
    width: 100%;
  }

  .view-album__section-heading {
    top: 0;
    z-index: 2;
  }

  .view-album__grid:first-child {
    padding-top: 100px;
  }
  .view-album__section-heading {
    padding-top: 45px;
  }

  .view-album__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--site-padding);
  }

  .view-album__grid > *:first-child:last-child {
    grid-column: 1 / 3;
  }
}


