
.view-index {
  position: relative;
}

.view-index__title {
  font-size: var(--f-size-big);
  font-weight: 400;
}

.view-index__list {
  list-style: none;
  padding: 0 0 40px;
 }
 @media ( min-width: 960px) {
  .view-index__list {
    width: 50%;
    padding-top: 120px;
  }
}

.view-index__item {
  border-bottom: 1px solid var(--c-light-white);
  width: 100%;
}

.view-index__item:first-child {
  border-top: 1px solid var(--c-light-white);
}

.view-index__item-link {
  display: block;
  padding: .375em 0;
  text-decoration: none;
  font-size: var(--f-size-medium);
  font-weight: 400;
}

.view-index__item-link:hover {
  color: var(--c-gray);
}


.view-index__album-info {
  color: var(--c-gray);
  font-weight: 400;
}

