:root {
  --c-bg: #1B3246;
  --c-base-text-color: #fff;
}
body, body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--c-bg);
    color: var(--c-base-text-color);
}

figure {
  display: block;
  margin: 0;
  padding: 0;
}

img,
video {
    max-width: 100%;
    display: block;
}

.album__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns:  1fr;
}

@media (min-width:800px) {
    .album__list {
        grid-template-columns: repeat(2, 50%);
        grid-gap: 20px;
    }
}

.album__asset {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album__img,
.album__video {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}


/*  Album */

.view-album {
  padding: 50px;
}
.view-album__title {
  color: white;
  font: 400 28px / 1 georgia;

}

.view-album__date {
  font: 400 12px / 1 georgia;
}
